/* roboto-italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'),
       url('../fonts/roboto-v18-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v18-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v18-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v18-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts/roboto-v18-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v18-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Global styles
--------------------------------------------------------------------- */

body {
  min-width: 960px;
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;

  background-color: #fdfdfd;
  color: #404040;
}

a {
  color: #4169E1;
  text-decoration: none;

  border-bottom: 1px dashed #4169E1;
}

a:hover,
a:focus {
  color: #1f49c7;

  border-bottom: 1px dashed #1f49c7;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3 {
  font-weight: 400;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  margin-right: 20px;
  padding: 10px 30px;

  font: inherit;
  text-align: center;
  color: #fff;
  vertical-align: middle;

  background-color: #4169E1;
  border: none;

  cursor: pointer;
}

.button-select-review {
  background-color: inherit;
  border: none;

  cursor: pointer;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #4191e1;
}

.button-select-review:hover,
.button-select-review:focus,
.button-select-review:active {
  background-color: #dfdfdf;
}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: #ccc;
}

.container,
.main-navigation {
  width: 940px;
  margin: 0 auto;
}

.main-navigation {
  padding: 0 10px;
}

/* Header
--------------------------------------------------------------------- */

.main-header {
  width: 100%;
  margin-bottom: 40px;

  background-color: #4169E1;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
}

.site-navigation,
.user-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 620px;
}

.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 140px;
}

.site-navigation a,
.user-navigation a {
  display: block;
  padding: 20px 20px;

  color: #fff;

  border-bottom: none;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #4191e1;
}

.user-navigation .login-link {
  position: relative;
  padding-left: 50px;
}

.login-link::before {
  content: "";

  position: absolute;
  top: 18px;
  left: 18px;

  width: 25px;
  height: 25px;

  background-image: url("../img/user-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* Main Intro
--------------------------------------------------------------------- */

.main-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.index-main-img {
  display: block;
  width: 500px;
  height: 344px;
  margin-right: 120px;
}

.main-intro-slogan {
  margin-top: 50px;
  margin-right: 20px;

  text-align: center;
  color: #505050;
}

.main-intro-slogan a {
  border-bottom: none;
}

.index-logo {
  width: 300px;
  height: 77px;

  background-color: #4169E1;
  -webkit-box-shadow: 0px 0px 5px 5px #4169E1;
          box-shadow: 0px 0px 5px 5px #4169E1;
}

.main-intro-slogan h2 {
  font-size: 24px;
  color: #405776;
}

.button-registration {
  margin-left: 25px;

  background-color: #4eb543;
}

.button-registration:hover,
.button-registration:focus {
  color: #fff;

  background-color: #49a83e;
}

/* Features
--------------------------------------------------------------------- */

.features {
  width: 940px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.feature-item {
  width: 260px;
  padding: 25px 15px;

  text-align: center;

  background-color: #eee;
}

.feature-item h3 {
  position: relative;

  margin: 0;
  margin-bottom: 30px;

  font-size: 30px;
  line-height: 42px;
}

.feature-item h3::after {
  content: "";

  position: absolute;
  top: 50px;
  left: 80px;

  width: 100px;
  height: 4px;

  background-color: #4169E1;
}

.feature-item p {
  margin: 0 15px;
}

/* Promo
--------------------------------------------------------------------- */

.promo {
  width: 940px;
  margin: 0 auto;
  padding: 20px 0;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;

  color: #87ceeb;

  background-color: #405776;
}

.promo svg {
  display: block;
  width: 125px;
  height: 125px;
  margin-top: 20px;
  margin-left: 70px;
  margin-right: 100px;
}

.promo p {
  width: 600px;

  font-size: 22px;
  line-height: 34px;
  font-style: italic;
}

/* Index Columns
--------------------------------------------------------------------- */

.index-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  padding: 40px 80px;
  margin-bottom: 60px;
  box-sizing: border-box;

  background-color: #eee;
}

.index-columns h2 {
  margin: 0;
  margin-bottom: 20px;

  font-size: 30px;
  line-height: 42px;
}

/* News
--------------------------------------------------------------------- */

.news {
  width: 380px;
}

.news a {
  display: inline-block;
  margin-top: 10px;

  font-size: 22px;
}

.news-list {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  list-style: none;
}

.news-item {
  margin-bottom: 20px;
}

.news-item p {
  margin: 0;
}

/* Gallery
--------------------------------------------------------------------- */

.gallery {
  width: 340px;
}

.gallery a {
  border-bottom: none;
}

.gallery-content {
  margin: 0;
}

.gallery-content img {
  width: 340px;
  height: 221px;
}

.gallery-button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery-button {
  width: 45%;
  margin: 0;
  margin-top: 20px;
}

/* Reviews
--------------------------------------------------------------------- */

.reviews {
  width: 940px;
  margin: 0 auto;        
}

.reviews h2 {
  position: relative;
  
  margin-bottom: 50px;

  font-size: 30px;
  color: #405776;
}

.reviews h2::after {
  content: "";

  position: absolute;
  top: 40px;
  left: 0;

  width: 400px;
  height: 4px;

  background-color: #405776;
}

.reviews-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 10px;
  margin-bottom: 60px;

  background-color: #eee;
}

.button-select-icon {
  width: 45px;
  height: 45px;
}

.button-select-icon:hover,
.button-select-icon:focus,
.button-select-icon:active {
  fill: #4191e1;
}

.reviews-icon-user-avatar {
  margin-top: 10px;
  width: 100px;
  height: 100px;
}

.blockquote-wrapper {
  position: relative;
  padding: 0 45px;
}

.reviews-icon-blockquote-start,
.reviews-icon-blockquote-end {
  position: absolute;

  width: 30px;
  height: 30px;
}

.reviews-icon-blockquote-start {
  top: 0;
  left: 0;
}

.reviews-icon-blockquote-end {
  top: 0;
  right: 0;
}

.index-blockquote {
  margin: 0;
  padding: 0;
  width: 570px;

  font-size: 20px;
  line-height: 32px;
  font-style: italic;
}

.blockquote-link-author-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.blockquote-link {
  font-size: 22px;
}

.blockquote-author {
  margin: 0;
  
  font-weight: 700;
}

.blockquote-author-workplace {
  font-style: italic;
}

/* Contacts
--------------------------------------------------------------------- */

.contacts {
  width: 380px;
}

.contacts p {
  margin: 0;
  margin-bottom: 25px;

  font-style: italic;
}

.contacts a {
  font-size: 22px;
  margin-right: 50px;
}

/* Appointment
--------------------------------------------------------------------- */

.appointment {
  width: 340px;
}

.appointment-info {
  margin: 0;
  margin-bottom: 15px;
}

.appointment-item {
  margin: 0;
  margin-bottom: 10px;

  font-style: italic;
}

.appointment-item label {
  display: block;
  margin-bottom: 10px;
  margin-left: 10px;
}

.appointment-item input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 5px 10px;

  font: inherit;

  background-color: transparent;
  border: 2px solid #87ceeb;
}

.appointment-item input:focus {
  border-color: #4191e1;
}

.appointment .button {
  width: 100%;
  margin-top: 5px;
}

/* Price
--------------------------------------------------------------------- */

.price {
  width: 940px;
  margin: 0 auto;
  padding: 20px 0;
  margin-bottom: 60px;
}

.price table {
  display: table;
  border-collapse: collapse;
  width: 100%;
}

.price caption {
  position: relative;
  padding: 20px;
  margin-bottom: 40px;

  font-size: 34px;
  text-align: left;
  color: #405776;
}

.price caption::after {
  content: "";

  position: absolute;
  top: 65px;
  left: 20px;

  width: 400px;
  height: 4px;

  background-color: #405776;
}

.price th {
  padding: 20px;

  font-size: 24px;
  font-weight: 400;
  color: #fff;
}

.plan-row .thead-plan-free {
  background-color: #4191e1;
}

.plan-row .thead-plan-basic {
  background-color: #4169e1;
}

.plan-row .thead-plan-pro {
  color: #87ceeb;

  background-color: #405776;
}

.price tr {
  border-bottom: 1px dashed #4191e1;
}

.price td {
  padding: 10px 20px;

  text-align: center;

  background-color: #eee;
}

.price td:first-child {
  background-color: #fdfdfd;
}

.price tr:last-child {
  border-bottom: none;
}

.price-row td {
  padding: 20px;

  font-size: 30px;
  color: #fff;
}

.price-row .tfoot-plan-free {
  background-color: #4191e1;
}

.price-row .tfoot-plan-basic {
  background-color: #4169e1;
}

.price-row .tfoot-plan-pro {
  color: #87ceeb;
  
  background-color: #405776;
}

.price-btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-price {
  padding: 15px 70px;
  margin-top: 50px;

  font-size: 20px;
}

.btn-price:hover,
.btn-price:focus {
  border-bottom: none;
}

.btn-find-more {
  color: #4169e1;

  background-color: #e6e6e6;
}

.btn-find-more:hover,
.btn-find-more:focus {
  color: #fff;

  background-color: #4191e1;
}

/* Page Marketplace
--------------------------------------------------------------------- */

.marketplace-wrapper {
  width: 940px;
  margin: 0 auto;
}

.inner-page-logo {
  margin-top: 8px;
  width: 170px;
  height: 44px;
}

.site-navigation-current {
  position: relative;

  border-bottom: 5px solid #000;
}

.site-navigation-current::after {
  content: "";

  position: absolute;
  top: 53px;
  left: 13px;

  width: 75px;
  height: 7px;

  text-align: center;

  background-color: #87ceeb;
}

.page-marketplace .site-navigation-current::after {
  left: 37px;
}

.page-marketplace .main-header {
  margin-bottom: 30px;
}

.page-title {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  font-size: 34px;
  line-height: 40px;
}

.breadcrumbs {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;

  list-style: none;
}

.breadcrumbs li {
  position: relative;

  display: inline-block;
  padding-right: 30px;
  margin-right: 10px;
}

.breadcrumbs-current {
  color: #4169e1;
}

.breadcrumbs a {
  color: #404040;

  border-bottom: none;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
  color: #4169e1;
}

.breadcrumbs a::after {
  content: "";

  position: absolute;
  top: 6px;
  right: 0;

  width: 12px;
  height: 12px;

  background-color: #a5a5a5;

  -webkit-transform: rotate(45deg);

      -ms-transform: rotate(45deg);

          transform: rotate(45deg);
}

.filters-catalog-wrapper {
  width: 940px;
  margin: 0 auto;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filters {
  margin-right: 20px;
  width: 220px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 40px;

  border: none;
}

.filter fieldset:first-child {
  margin-bottom: 70px;
}

.filter legend {
  margin-bottom: 30px;

  font-size: 26px;
  line-height: 32px;
}

.filter ul {
  margin: 0;
  padding: 0;

  list-style: none;
  line-height: 18px;
}

.filter-option {
  padding-left: 50px;
  margin-bottom: 10px;

  font-size: 20px;
  line-height: 30px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #4169E1;
}

.filter-input-checkbox + label::before {
  content: "";

  position: absolute;
  top: 5px;
  left: -50px;

  width: 18px;
  height: 18px;

  border: 2px solid #404040;
}

.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  top: 9px;
  left: -45px;

  width: 13px;
  height: 13px;

  background-image: url("../img/cross.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio + label::before {
  content: "";

  position: absolute;
  top: 5px;
  left: -50px;

  width: 18px;
  height: 18px;

  border: 2px solid #404040;
  border-radius: 50%;
}

.filter-input:disabled + label {
  color: #ccc;
}

.filter-input-radio:checked + label::after {
  content: "";

  position: absolute;
  top: 11px;
  left: -43px;

  width: 9px;
  height: 9px;

  background-color: #404040;
  border-radius: 50%;
}

.catalog {
  width: 700px;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-bottom: 45px;

  list-style: none;
}

.catalog-item {
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;

  -webkit-box-shadow: 2px 2px 3px 2px #e6e6e6;

          box-shadow: 2px 2px 3px 2px #e6e6e6;
}

.catalog-item:hover {
  -webkit-box-shadow: 3px 3px 5px 5px #ddd;
          box-shadow: 3px 3px 5px 5px #ddd;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  border-bottom: none;
}

.catalog-item h3 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin: 10px 0;

  font-size: 24px;
  line-height: 34px;
  text-align: center;
}

.catalog-item-image {
  margin: 0;
  padding: 25px 0;

  background-color: #eee;
}

.catalog-item img {
  width: 220px;
  height: 165px;
  margin: 0;
}

.catalog-item-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px;
}

.catalog-item-price span {
  width: 112px;
  padding: 7px;
  
  font-size: 25px;
  line-height: 30px;
  text-align: center;

  background-color: #eee;
}

.catalog-button {
  width: 50px;
  margin: 0;

  line-height: 26px;

  background-color: #4eb543;
}

.catalog-button:hover,
.catalog-button:focus,
.catalog-button:active {
  color: #fff;

  background-color: #49a83e;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  margin-left: 240px;

  list-style: none;
}

.pagination-item a {
  display: block;
  padding: 15px 22px;
  margin-right: 15px;

  color: #fff;

  background-color: #4169e1;
  border-bottom: none;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  background-color: #4191e1;
}

.pagination-item-current a {
  background-color: #a5a5a5;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  background-color: #4191e1;
}

/* Page Contacts
--------------------------------------------------------------------- */

.page-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.page-contacts .container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.page-contacts .site-navigation-current::after {
  left: 22px;
}

.page-contacts .contacts-map-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.iframe-img-wrapper {
  position: relative;
}

.iframe-img-wrapper iframe {
  position: relative;
  z-index: 2;
}
.iframe-img-wrapper p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  margin: 0;
}

/* Main Footer
--------------------------------------------------------------------- */

.main-footer {
  padding: 30px 0;
  margin-top: 70px;

  color: #87ceeb;

  background-color: #3e3e42;
}

.main-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-contacts a {
  color: #d1d1d1;
  border-bottom: 1px dashed #d1d1d1;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  color: #4191e1;

  border-bottom: 1px dashed #4191e1;
}

.footer-contacts {
  width: 320px;
  margin-right: 80px;
}

.footer-social {
  width: 145px;

  text-align: center;
}

.footer-social a {
  border-bottom: none;
}

.footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 150px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.footer-social b {
  display: block;
  margin-bottom: 15px;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
}

.footer-copyright {
  width: 150px;
  margin-left: auto;

  text-align: center;
}

.footer-copyright a {
  border-bottom: none;
}

.footer-copyright .button {
  display: block;
  margin-right: 0;

  color: #404040;

  background-color: #87ceeb;
}

.footer-copyright b {
  display: block;
  margin-bottom: 15px;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: #f5f5f5;

  background-color: #4169E1;
}

/* Popups
--------------------------------------------------------------------- */

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

/* Modal
--------------------------------------------------------------------- */

.modal {
  position: fixed;
  z-index: 100;

  display: none;

  color: #eee;

  background-color: #4169E1;
  -webkit-box-shadow: 30px 30px 50px rgba(87, 87, 87, 0.7);
          box-shadow: 30px 30px 50px rgba(87, 87, 87, 0.7);
}

.modal-show {
  display: block;

  -webkit-animation: bounce 0.6s;

          animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.modal-login {
  top: 200px;
  left: 50%;
  margin-left: -250px;

  width: 350px;
  height: 385px;
  padding: 50px 80px;
}

.modal-close {
  position: absolute;

  top: 0;
  right: -45px;

  width: 35px;
  height: 35px;

  background-color: #404040;
  border: 0;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 15px;
  left: -2px;

  width: 40px;
  height: 4px;

  background-color: #fff;
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-login h2 {
  margin: 0;
  margin-bottom: 25px;

  color: #87ceeb;
  font-size: 40px;
  line-height: 45px;
}

.modal-description {
  margin: 0;
  margin-bottom: 25px;

  font-size: 20px;
  font-style: italic;
}

.login-form p {
  margin: 0;
  margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;

  padding: 10px 20px;
  margin-bottom: 20px;

  font: inherit;
  font-style: italic;
  color: #404040;

  background-color: #fdfdfd;
  border: 3px solid #87ceeb;
}

.login-form input:focus {
  border-color: #4169E1;
}

.login-help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  margin: 15px 0;

}

.login-checkbox {
  position: relative;

  padding-left: 30px;

  cursor: pointer;
}

.login-checkbox:hover,
.login-checkbox:focus {
  color: #87ceeb;
}

.login-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;

  width: 19px;
  height: 19px;

  border: 2px solid #ccc;
}

.login-checkbox input[type="checkbox"]:focus + .checkbox-indicator {
  border-color: #87ceeb;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 2px;

  width: 15px;
  height: 2px;

  background-color: #87ceeb;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.restore {
  color: #eee;

  border-bottom: 1px dashed #eee;
}

.restore:hover,
.restore:focus {
  color: #87ceeb;

  border-bottom: 1px dashed #87ceeb;
}

.modal-login-button {
  width: 100%;
  margin-top: 20px;

  background-color: #4eb543;
}

.modal-login-button:hover,
.modal-login-button:focus {
  background-color: #49a83e;
}

/* Modal Map
--------------------------------------------------------------------- */

.modal-map {
  top: 50%;
  left: 50%;
  margin-top: -280px;
  margin-left: -430px;

  width: 850px;
  height: 502px;

  border: 7px solid #4191e1;
}

.modal-map p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  margin: 0;
}

.modal-map iframe {
  position: relative;
  z-index: 2;

  border: none;
}

.page-modal-no-js {
  position: static;

  display: block;
  margin: auto;

  -webkit-box-shadow: none;

          box-shadow: none;
}

.page-map .modal-map p {
  position: absolute;
  top: 108px;
  left: 143px;
  z-index: 1;

  margin: 0;
}