body {
  min-width: 960px;
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;

  background-color: #fdfdfd;
  color: #404040;
}

a {
  text-decoration: none;

  color: #4169E1;
  border-bottom: 1px dashed #4169E1;
}

a:hover,
a:focus {
  color: #1f49c7;
  border-bottom: 1px dashed #1f49c7;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1, h2, h3 {
  font-weight: 400;
}

.container,
.main-navigation {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  width: 100%;
  margin-bottom: 40px;

  background-color: #4169E1;
}

.button {
  display: inline-block;
  margin-right: 20px;
  padding: 10px 30px;

  font: inherit;
  text-align: center;
  color: #fff;
  vertical-align: middle;

  background-color: #4169E1;
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #4191e1;
}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: #ccc;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
}

.site-navigation,
.user-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 620px;
}

.user-navigation {
  display: flex;
  max-width: 140px;
}

.site-navigation a,
.user-navigation a {
  display: block;
  padding: 20px 20px;

  color: #fff;
  border-bottom: none;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #4191e1;
}

.user-navigation .login-link {
  position: relative;
  padding-left: 50px;
}

.login-link::before {
  content: "";

  position: absolute;
  top: 18px;
  left: 18px;

  width: 25px;
  height: 25px;

  background-image: url("../img/user-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-intro {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.index-main-img {
  width: 500px;
  height: 344px;
}

.main-intro-slogan {
  margin-right: 20px;
  padding-top: 50px;

  text-align: center;
  color: #505050;
}

.main-intro-slogan a {
  border-bottom: none;
}

.index-logo {
  background-color: #4169E1;
  box-shadow: 0px 0px 5px 5px #4169E1;
}

.main-intro-slogan h2 {
  font-size: 24px;
  color: #405776;
}

.button-registration {
  margin-left: 25px;

  background-color: #4eb543;

  cursor: pointer;
}

.button-registration:hover,
.button-registration:focus {
  color: #fff;

  background-color: #49a83e;
}

.features {
  margin-bottom: 70px;
}

.features-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.feature-item {
  width: 260px;
  padding: 25px 15px;

  text-align: center;

  background-color: #eee;
}

.feature-item h3 {
  position: relative;

  margin: 0;
  margin-bottom: 30px;

  font-size: 30px;
  line-height: 42px;
}

.feature-item h3::after {
  content: "";

  position: absolute;
  top: 50px;
  left: 80px;

  width: 100px;
  height: 4px;

  background-color: #4169E1;
}

.feature-item p {
  margin: 0 15px;
}

.promo {
  display: flex;
  justify-content: space-between;
  padding: 20px 80px;
  margin-bottom: 60px;

  color: #87ceeb;

  background-color: #405776;
}

.promo svg {
  width: 125px;
  height: 125px;
  margin-top: 20px;
}

.promo p {
  width: 600px;

  font-size: 22px;
  line-height: 34px;
  font-style: italic;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  padding: 40px 80px;
  margin-bottom: 60px;

  background-color: #eee;
}

.index-columns h2 {
  margin: 0;
  margin-bottom: 20px;

  font-size: 30px;
  line-height: 42px;
}

.news {
  width: 380px;
}

.news a {
  display: inline-block;
  margin-top: 10px;

  font-size: 22px;
}

.news-list {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  list-style: none;
}

.news-item {
  margin-bottom: 20px;
}

.news-item p {
  margin: 0;
}

.gallery {
  width: 340px;
}

.gallery a {
  border-bottom: none;
}

.gallery-content {
  margin: 0;
}

.gallery-content img {
  width: 340px;
  height: 221px;
}

.gallery-button-wrapper {
  display: flex;
  justify-content: space-between;
}

.gallery-button {
  width: 45%;
  margin: 0;
  margin-top: 20px;

  cursor: pointer;
}

.price {
  padding: 40px 0;
  margin-bottom: 60px;
}

.price table {
  display: table;
  border-collapse: collapse;
  width: 100%;
}

.price caption {
  position: relative;
  padding: 20px;
  margin-bottom: 40px;

  font-size: 38px;
  text-align: left;
  color: #405776;
}

.price caption::after {
  content: "";

  position: absolute;
  top: 65px;
  left: 20px;

  width: 400px;
  height: 4px;

  background-color: #405776;
}

.price th {
  padding: 20px;

  font-size: 24px;
  font-weight: 400;
  color: #fff;
}

.plan-row .thead-plan-free {
  background-color: #4191e1;
}

.plan-row .thead-plan-basic {
  background-color: #4169e1;
}

.plan-row .thead-plan-pro {
  color: #87ceeb;

  background-color: #405776;
}

.price tr {
  border-bottom: 1px dashed #4191e1;
}

.price td {
  padding: 10px 20px;

  text-align: center;

  background-color: #eee;
}

.price td:first-child {
  background-color: #fdfdfd;
}

.price tr:last-child {
  border-bottom: none;
}

.price-row td {
  padding: 20px;

  font-size: 30px;
  color: #fff;
}

.price-row .tfoot-plan-free {
  background-color: #4191e1;
}

.price-row .tfoot-plan-basic {
  background-color: #4169e1;
}

.price-row .tfoot-plan-pro {
  color: #87ceeb;
  
  background-color: #405776;
}

.price-btn-wrapper {
  display: flex;
  justify-content: center;
}

.btn-price {
  padding: 15px 70px;
  margin-top: 50px;

  font-size: 20px;
}

.btn-price:hover,
.btn-price:focus {
  border-bottom: none;
}

.btn-find-more {
  color: #4169e1;

  background-color: #e6e6e6;
}

.btn-find-more:hover,
.btn-find-more:focus {
  color: #fff;
  background-color: #4191e1;
}

.contacts {
  width: 380px;
}

.contacts p {
  margin: 0;
  margin-bottom: 25px;

  font-style: italic;
}

.contacts a {
  font-size: 22px;
  margin-right: 50px;
}

.appointment {
  width: 340px;
}

.appointment-info {
  margin: 0;
  margin-bottom: 15px;
}

.appointment-item {
  margin: 0;
  margin-bottom: 10px;

  font-style: italic;
}

.appointment-item label {
  display: block;
  margin-bottom: 5px;
  margin-left: 10px;
}

.appointment-item input {
  box-sizing: border-box;
  width: 95%;
  padding: 5px 10px;

  font: inherit;

  background-color: transparent;
  border: 2px solid #87ceeb;
}

.appointment-item input:focus {
  border-color: #4191e1;
}

.appointment .button {
  width: 95%;
  margin-top: 5px;

  cursor: pointer;
}

.main-footer {
  padding: 30px 0;
  margin-top: 50px;

  color: #87ceeb;

  background-color: #3e3e42;
}

.main-footer .container {
  display: flex;
}

.footer-contacts a {
  color: #d1d1d1;
  border-bottom: 1px dashed #d1d1d1;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  color: #4191e1;
  border-bottom: 1px dashed #4191e1;
}

.footer-contacts {
  width: 320px;
  margin-right: 80px;
}

.footer-social {
  width: 145px;
  text-align: center;
}

.footer-social a {
  border-bottom: none;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.footer-social b {
  display: block;
  margin-bottom: 15px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.footer-copyright {
  width: 150px;
  margin-left: auto;

  text-align: center;
}

.footer-copyright a {
  border-bottom: none;
}

.footer-copyright .button {
  display: block;
  margin-right: 0;

  color: #404040;
  background-color: #87ceeb;
}

.footer-copyright b {
  display: block;
  margin-bottom: 15px;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: #f5f5f5;

  background-color: #4169E1;
}

/* Popup */

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal {
  position: fixed;

  display: none;

  color: #eee;

  background-color: #4169E1;
  box-shadow: 30px 30px 50px rgba(87, 87, 87, 0.7);
}

.modal-show {
  display: block;

  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-login {
  top: 200px;
  left: 50%;
  margin-left: -250px;

  width: 350px;
  height: 385px;
  padding: 50px 80px;
}

.modal-close {
  position: absolute;

  top: 0;
  right: -45px;

  width: 35px;
  height: 35px;

  background-color: #404040;
  border: 0;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 15px;
  left: -2px;

  width: 40px;
  height: 4px;

  background-color: #fff;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-login h2 {
  margin: 0;
  margin-bottom: 25px;

  color: #87ceeb;
  font-size: 40px;
  line-height: 45px;
}

.modal-description {
  margin: 0;
  margin-bottom: 25px;

  font-size: 20px;
  font-style: italic;
}

.login-form p {
  margin: 0;
  margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  box-sizing: border-box;
  width: 100%;

  padding: 10px 20px;
  margin-bottom: 20px;

  font: inherit;
  font-style: italic;
  color: #404040;

  background-color: #fdfdfd;
  border: 3px solid #87ceeb;
}

.login-form input:focus {
  border-color: #4169E1;
}

.login-help {
  display: flex;
  justify-content: space-between;

  margin: 15px 0;

}

.login-checkbox {
  position: relative;

  padding-left: 30px;

  cursor: pointer;
}

.login-checkbox:hover,
.login-checkbox:focus {
  color: #87ceeb;
}

.login-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;

  width: 19px;
  height: 19px;

  border: 2px solid #ccc;
}

.login-checkbox input[type="checkbox"]:focus + .checkbox-indicator {
  border-color: #87ceeb;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 2px;

  width: 15px;
  height: 2px;

  background-color: #87ceeb;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
  transform: rotate(45deg);
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  transform: rotate(-45deg);
}

.restore {
  color: #eee;

  border-bottom: 1px dashed #eee;
}

.restore:hover,
.restore:focus {
  color: #87ceeb;

  border-bottom: 1px dashed #87ceeb;
}

.modal-login-button {
  width: 100%;
  margin-top: 20px;

  background-color: #4eb543;

  cursor: pointer;
}

.modal-login-button:hover,
.modal-login-button:focus {
  background-color: #49a83e;
}

.modal-map {
  top: 50%;
  left: 50%;
  margin-top: -280px;
  margin-left: -430px;

  width: 850px;
  height: 502px;

  border: 7px solid #4191e1;
}

.modal-map p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  margin: 0;
}

.modal-map iframe {
  position: relative;
  z-index: 2;

  border: none;
}
