html,
body {
  min-width: 1122px;
  min-height: 1750px;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;

  background-color: #fdfdfd;
  color: #404040;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1, h2, h3 {
  font-weight: 400;
}

.container,
.main-navigation {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  width: 100%;
  margin-bottom: 50px;

  background-color: #4169E1;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
}

.main-header-logo {
  width: 500px;
  height: 344px;
}

.site-navigation,
.user-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 620px;
}

.user-navigation {
  display: flex;
  max-width: 140px;
}

.site-navigation a,
.user-navigation a {
  display: block;
  padding: 25px 20px;

  color: #fff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #4191e1;
}

.user-navigation .login-link {
  position: relative;
  padding-left: 50px;
}

.login-link::before {
  content: '';

  position: absolute;
  top: 26px;
  left: 24px;

  width: 20px;
  height: 20px;

  background-image: url(img/login.svg);
  background-repeat: no-repeat;
  background-position: 0 0;

  background-color: #000;
}

.features {
  margin-bottom: 70px;
}

.features-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.feature-item {
  text-align: center;

  width: 300px;
}

.feature-item h3 {
  font-size: 32px;
  line-height: 44px;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  padding: 50px 80px;
  margin-bottom: 30px;
}

.index-columns h2 {
  font-size: 30px;
  line-height: 42px;
}

.news {
  width: 380px;
}

.news-list {
  list-style: none;
}

.gallery {
  width: 300px;
}

.gallery-content {
  background-color: #fdfdfd;
}

.contacts {
  width: 380px;
}

.appointment {
  width: 300px;
}

.button {
  font: inherit;

  text-align: center;
  color: #fff;
  vertical-align: middle;

  background-image: linear-gradient(to bottom, #4191e1, #4141e1);
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #000;
}

.appointment-item input {
  font: inherit;

  background-color: transparent;
  border: 2px solid #87ceeb;
}

.appointment-item input:focus {
  border-color: #4191e1;
}

.main-footer {
  padding: 40px 0;
  margin-top: 50px;

  color: #87ceeb;

  background-color: #4169E1;
}

.main-footer
.container {
  display: flex;
}

.footer-contacts a {
  color: #fdfdfd;
  text-decoration: none;
  border-bottom: 1px dashed #fff;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  border-bottom: none;
}

.footer-contacts {
  width: 320px;
  margin-right: 80px;
}

.footer-social {
  width: 145px;
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  color: #fff;
}

.footer-copyright {
  width: 150px;
  margin-left: auto;

  text-align: center;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: #000;

  background-color: #87ceeb;
}

.bg-avatar {
  width: 150px; height: 150px;
  background: url('css_sprites.png') -10px -10px;
}

.bg-facebook {
  width: 150px; height: 150px;
  background: url('css_sprites.png') -180px -10px;
}

.bg-linkedin {
  width: 150px; height: 150px;
  background: url('css_sprites.png') -10px -180px;
}

.bg-twitter {
  width: 150px; height: 150px;
  background: url('css_sprites.png') -180px -180px;
}